<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">User</th>
      <th scope="col">Issuance Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Actual Return Date</th>
      <th scope="col">Body</th>
      <th scope="col">Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredData$ | async">
      <th scope="row">{{ item.id }}</th>
      <td>
        {{ item.user }}
      </td>
      <td>
        {{ item.issuance_date }}
      </td>
      <td>
        {{ item.return_date }}
      </td>
      <td>
        {{ item.actual_return_date }}
      </td>
      <td>
        {{ item.body }}
      </td>
      <td>
        {{ item.percent }}
      </td>
    </tr>
  </tbody>
</table>
