/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap.scss";

body {
  min-height: 100vh;
}

app-root {
  display: block;
  min-height: 100vh;
}
